<?xml version="1.0"?>
<launch>
    <arg name="input_topic" default="/webcam/image_raw" />
    <arg name="show_image_frame" default="true" />
    <arg name="cascade_file" default="$(find common)/config/cascade.xml" />
    <arg name="video_file" default="" />
    <arg name="bdf_file" default="" />
    <node pkg="legacy_measurement" type="legacy_measurement.py" name="legacy_measurement" output="screen">
        <param name="input_topic" type="string" value="$(arg input_topic)" />
        <param name="show_image_frame" type="bool" value="$(arg show_image_frame)" />
        <param name="cascade_file" type="string" value="$(arg cascade_file)" />
        <param name="video_file" type="string" value="$(arg video_file)" />
        <param name="bdf_file" type="string" value="$(arg bdf_file)" />
    </node>
</launch>
