[submodule "src/dragandbot_common"]
	path = src/dragandbot_common
	url = https://github.com/dragandbot/dragandbot_common.git
[submodule "src/video_stream_opencv"]
	path = src/video_stream_opencv
	url = https://github.com/ros-drivers/video_stream_opencv.git
