<?xml version="1.0"?>
<launch>
    <arg name="topic" default="/webcam/image_raw" />
    <arg name="show_image_frame" default="true" />
    <arg name="show_processed_image" default="false" />
    <arg name="cascade_file" default="$(find common)/config/cascade.xml" />
    <node pkg="eulerian_motion_magnification" type="eulerian_motion_magnification.py" name="eulerian_motion_magnification" output="screen">
        <param name="show_processed_image" type="bool" value="$(arg show_processed_image)" />
        <param name="topic" type="string" value="$(arg topic)" />
        <param name="show_image_frame" type="bool" value="$(arg show_image_frame)" />
        <param name="cascade_file" type="string" value="$(arg cascade_file)" />
        <param name="video_file" type="string" value="$(arg video_file)" />
        <param name="bdf_file" type="string" value="$(arg bdf_file)" />
    </node>
</launch>


