<?xml version="1.0"?>
<launch>
    <arg name="topic" default="/pylon_camera_node/image_raw" />
    <arg name="bdf_file" default="None" />
    <arg name="show_image_frame" default="true" />
    <node pkg="face_detection" type="main.py" name="face_detection" output="screen">
        <param name="topic" type="string" value="$(arg topic)" />
        <param name="bdf_file" type="string" value="$(arg bdf_file)" />
        <param name="show_image_frame" type="bool" value="$(arg show_image_frame)" />
    </node>
</launch>
