<?xml version="1.0"?>
<launch>
    <arg name="topic" default="/pylon_camera_node/image_raw" />
    <arg name="show_image_frame" default="true" />
    <arg name="video_file" default="None"/>
    <include file="$(find pylon_camera)/launch/pylon_camera_node.launch" />
    <include file="$(find face_detection)/launch/face_detection.launch">
        <arg name="topic" value="/pylon_camera_node/image_raw" />
        <arg name="show_image_frame" value="$(arg show_image_frame)" />
        <arg name="video_file" value="$(arg video_file)" />
    </include>
</launch>
